.auth {
    width: 100%;
}

.form {
    width: 40%;
    margin: 0 auto;
    margin-top: 15%;

    &__control {
        width: 100%;
        margin-bottom: 10px;
    }

    &__input {
        width: 100%;
    }
}